.comp {
  flex-direction: row;
  gap: 1rem;
}

.compContainer {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .comp {
      flex-direction: column;
  }

  .compContainer {
      width: 100%;
  }
}