.generalBox {
    width: 75%;
}

.selector {
    width: 20% !important;
}

.title {
    font-size: 10rem;
}

.topControl {
    width: 25%
}

@media screen and (max-width: 768px) {
    .generalBox {
        width: 90%;
    }

    .selector {
        width: 50% !important;
    }

    .title {
        width: 6em;
    }

    .topControl {
        width: 90%;
    }
}